<?xml version="1.0" encoding="utf-8"?>
<!-- Copy the template to your project folder and change it for your own use before compile tests in VisualStudio. -->
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<hibernate-configuration-x-factories xmlns="urn:nhibernate-configuration-2.2-x-factories">
		<session-factory name="MySql" xdt:Locator="Match(name)">
			<property name="connection.connection_string" xdt:Transform="Replace" xdt:Locator="Match(name)">Server=127.0.0.1;DataBase=nhReader;uid=dbProd;pwd=word5678</property>
			<property name="show_sql" xdt:Transform="Replace" xdt:Locator="Match(name)">false</property>
		</session-factory>

		<session-factory name="MSSQL" xdt:Transform="Remove" xdt:Locator="Match(name)" />
	</hibernate-configuration-x-factories>
</configuration>