<?xml version="1.0" encoding="utf-8"?>
<!-- Copy the template to your project folder and change it for your own use before compile tests in VisualStudio. -->

<configuration>
	<configSections>
		<section name="hibernate-configuration-x-factories" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>

	<hibernate-configuration-x-factories xmlns="urn:nhibernate-configuration-2.2-x-factories">
		<session-factory name="MySql">
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MySQLDialect</property>
			<property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
			<property name="connection.connection_string">Server=127.0.0.1;DataBase=dbDev;uid=nhDeveloper;pwd=pass1234</property>

			<property name="current_session_context_class">web</property>
			<property name="show_sql">true</property>

			<mapping assembly="DataLayer" />
		</session-factory>

		<session-factory name="MSSQL">
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">Server=localhost\LocalSQLServer;DataBase=dbDev;uid=nhDeveloper;pwd=pass1234</property>

			<property name="current_session_context_class">web</property>
			<property name="show_sql">true</property>

			<mapping assembly="DataLayer" />
		</session-factory>
	</hibernate-configuration-x-factories>

</configuration>